.bg14{
    background-color: black;
}
.color13{
    color: white;
    padding: 80px 0px;
}
.font1{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.font2{
    height: 30px;
    width: 30px;
    margin-left: 8px;
    cursor: pointer;
}